:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
    --hover: #afafaf;
  }
  
  body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  header {
    padding: 15px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr;
    grid-template-areas: 
     "ny mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .untutorlogo {
    grid-area: ny;
    object-fit: cover;
    width: 300px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-bottom: 15px;  
  }
  
  .untutorlogo img {  
    height: 35px;     
  }
  
  .main-nav {
    grid-area: mn;
    text-align: center;
    padding-right: 200px;
  }
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 5px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 10px;
  }
  
  .login{
    color: var(--light);
    border: none;
    position: fixed;
    right: 80px;
    background-color: #00000000;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    right: 130px;
    height: 3%;
  }
  
  .login:hover {
    color: var(--dark);
  }
  
  
  .signin{
    position: fixed;
    border: none;
    height: 3%;
    color: var(--light);
    text-decoration: none;
    background: #94b43b;
    font-weight: bold;
    text-align: center;
    right: 15px;
    font-size: 14px;
  }
  .signin:hover{
    background: #556621;
  }
  
  .x2-btn{
    float: right;
    position: relative;
    color:#686868
  }
  
  
  
  .main-container {
    padding: 50px;
    padding-top: 30px ;
  }
  
  .box {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(9, minmax(12%, 1fr));
    grid-template-rows: 120px 1fr 1fr 61px;
  }
  
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);  
    transform: scale(1.1);
  }
  
  .box img {
    border-radius: 2px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }