.signin-popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 300px;
    color: black;
    background-color: #94b43b;
}
.signin-popup input {
    background: #f2f2f2;
    font-size: 14px;
  }


  .signin-popup .message {
    margin: 15px 0 0;
    color: black;
    font-size: 20px;
  }
  .signin-popup .message a {
    color: white;
    text-decoration: none;
  }
  